#!/bin/sh

#wir haengen nur die Bridge in bat0, da batman nur begrenzte Mengen an Interfaces vertraegt.
/sbin/brctl addbr br-wg-backbone
/sbin/ip link set dev br-wg-backbone up
/usr/local/sbin/batctl if add br-wg-backbone

#Port isolation bridge
ebtables --append FORWARD --logical-in br-wg-backbone --jump DROP

#divonet1
#/sbin/ip link add gre-divonet1 type gretap remote 10.35.0.1 local 10.35.0.{{ servernumber }}
#/sbin/ip link set up dev gre-divonet1
#/sbin/brctl addif br-wg-backbone gre-divonet1

#divonet2
#/sbin/ip link add gre-divonet2 type gretap remote 10.35.0.2 local 10.35.0.{{ servernumber }}
#/sbin/ip link set up dev gre-divonet2
#/sbin/brctl addif br-wg-backbone gre-divonet2

#divonet3
#/sbin/ip link add gre-divonet3 type gretap remote 10.35.0.3 local 10.35.0.{{ servernumber }}
#/sbin/ip link set up dev gre-divonet3
#/sbin/brctl addif br-wg-backbone gre-divonet3

#divonet4
#/sbin/ip link add gre-divonet4 type gretap remote 10.35.0.4 local 10.35.0.{{ servernumber }}
#/sbin/ip link set up dev gre-divonet4
#/sbin/brctl addif br-wg-backbone gre-divonet4

#divonet5
#/sbin/ip link add gre-divonet5 type gretap remote 10.35.0.4 local 10.35.0.{{ servernumber }}
#/sbin/ip link set up dev gre-divonet5
#/sbin/brctl addif br-wg-backbone gre-divonet5
