server {
	listen 80;
        root /var/www/html;
	
        index index.html index.htm index.nginx-debian.html;

        server_name sn0{{ servernumber }}.divonet.de;

        location / {
                # First attempt to serve request as file, then
                # as directory, then fall back to displaying a 404.
                try_files $uri $uri/ =404;
        }

        location ~* \.php$ {
                fastcgi_pass unix:/run/php/php7.3-fpm.sock;
		include         fastcgi_params;
		fastcgi_param   SCRIPT_FILENAME    $document_root$fastcgi_script_name;
		fastcgi_param   SCRIPT_NAME        $fastcgi_script_name;
	}
}
